{
  "extends": [
    "airbnb-base/legacy",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/no-empty-function": ["error", { "allow": ["constructors"] }]
  }
}
